section {
    width: 40%;
    display: inline-block;
    border: 1px black solid;
    padding: 3%;
    margin: 10px;
    height: 30%;
    min-width: 200px;
    overflow: hidden;
}

.a {
    float: left;
}

.b {
    float: right;
}