body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: "Georgia", Times New Roman, Times, serif;
    color: #333333;
}


.a {
    float: left;
    width: 45%;
    margin: auto;
    padding: 20px;
}

.a p {
    padding: 1%;
    line-height: 30px;
}

.b {
    float: right;
    width: 45%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    color: #eee;
    background-color: #333333;
    font-size: 15px;
    width: auto;
    padding: 1px;
}

img {
    display: inline;
    width: 200px;
    float: left;
    padding: 10px;
}

a {
    color: #d21034;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


